<!-- close button -->
<button
  mat-icon-button
  class="close-button soe-elevation-z8"
  color="primary"
  type="button"
  (click)="close()"
>
  <div class="content">
    <mat-icon svgIcon="xmark"></mat-icon>
  </div>
</button>
<mat-toolbar color="accent" matDialogTitle>
  <!-- navigation -->
  <div class="navigation">
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="!(hasPrev$ | async)"
      (click)="prev()"
    >
      <div class="content">
        <mat-icon svgIcon="chevron-left"></mat-icon>
        <span> Previous Prime </span>
      </div>
    </button>
    <div class="current-prime mat-body">{{ currentPreview$ | async }}</div>
    <button
      mat-button
      color="primary"
      type="button"
      [disabled]="!(hasNext$ | async)"
      (click)="next()"
    >
      <div class="content">
        <span> Next Prime </span>
        <mat-icon svgIcon="chevron-right" color="primary"></mat-icon>
      </div>
    </button>
  </div>

  <h1>{{ (cells$ | async)?.length | number }} Multiples eliminated</h1>
</mat-toolbar>
<div matDialogContent class="body">
  <!-- navigation arrows -->
  <soe-page-arrow
    position="left"
    [disabled]="!cellGrid.hasPrevPage"
    (click)="cellGrid.prev()"
  ></soe-page-arrow>
  <soe-page-arrow
    position="right"
    [disabled]="!cellGrid.hasNextPage"
    (click)="cellGrid.next()"
  ></soe-page-arrow>

  <!-- grid -->
  <soe-cell-grid [cells]="(cells$ | async) ?? []" #cellGrid></soe-cell-grid>
</div>
