@use "@angular/material" as mat;
$primary-palette: (
  50: #eef1f5,
  100: #eef1f5,
  200: #8b8b8c,
  300: #5c5d5e,
  400: #1e1e1e,
  500: #161719,
  600: #131416,
  700: #101112,
  800: #0c0d0e,
  900: #060708,
  A100: #4fffff,
  A200: #1cffff,
  A400: #00e8e8,
  A700: #00cfcf,
  contrast: (
    50: #161719,
    100: #161719,
    200: #161719,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #161719,
    A200: #161719,
    A400: #161719,
    A700: #161719,
  ),
);

$primary-palette-config: mat.define-palette(
  $primary-palette,
  $default: 500,
  $lighter: 100,
  $darker: 900
);
