:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100vh;
}
mat-toolbar {
  height: unset;
  padding: 8px var(--soe-padding-24);
  form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;

    > div {
      margin-right: 8px;
      width: 160px;
      label.left {
        margin-right: 8px;
      }
      label.right {
        margin-left: 8px;
      }
    }
    button {
      margin-left: 40px;
      padding: 16px 32px;
    }
    mat-form-field {
      width: min(100%, 128px);
    }
    ::ng-deep {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined
        .mat-mdc-form-field-infix {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      .mat-mdc-text-field-wrapper {
        height: 42px;
      }
    }
  }

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-weight: bold;
    color: var(--soe-body-text-color);
  }
}

.body {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  // subtract the height of the toolbar and footer + padding
  height: calc(100vh - 122px);
  padding: var(--soe-padding-24, 64px);
  soe-cell-grid {
    flex: 1 1 auto;
  }
}
