<!-- toolbar -->
<mat-toolbar color="accent" class="soe-elevation-z4">
  <form [formGroup]="form">
    <div>
      <label for="min" class="left mat-body">Min</label>
      <mat-form-field appearance="outline">
        <input
          type="number"
          formControlName="min"
          matInput
          placeholder="min"
          id="min"
        />

        <mat-error *ngIf="form.controls.min.hasError('required')">
          Min value is required
        </mat-error>
        <mat-error *ngIf="form.controls.min.hasError('min')">
          Supply a value greater or equal to 2
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <input
          type="number"
          formControlName="max"
          matInput
          placeholder="max"
          id="max"
        />
        <mat-error *ngIf="form.controls.max.hasError('required')">
          Max value is required
        </mat-error>
        <mat-error *ngIf="form.controls.max.hasError('min')">
          Supply a value greater or equal to
          {{ form.controls.max.getError("min")?.required }}
        </mat-error>
      </mat-form-field>
      <label for="max" class="right mat-body">Max</label>
    </div>

    <!-- submit button -->
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      (click)="calculate()"
    >
      <span> Calculate </span>
    </button>
  </form>
  <h1>{{ totalPrimes$ | async | number }} Prime(s)</h1>
</mat-toolbar>

<!-- body -->
<div class="body">
  <!-- arrows -->
  <soe-page-arrow
    position="left"
    [disabled]="!cellGrid.hasPrevPage"
    (click)="cellGrid.prev()"
  ></soe-page-arrow>
  <soe-page-arrow
    position="right"
    [disabled]="!cellGrid.hasNextPage"
    (click)="cellGrid.next()"
  ></soe-page-arrow>

  <!-- cells -->
  <soe-cell-grid
    [cells]="(cells$ | async) || []"
    #cellGrid
    (cellClicked)="preview($event.value)"
  >
  </soe-cell-grid>
</div>
<!-- soe footer -->
<soe-footer></soe-footer>
